# Auto detect text files and perform LF normalization
* text=auto

# Treat binaries as binary
*.jar binary
*.jks binary
*.png binary
*.webp binary
*.jpg binary

# Ensure Gradle wrapper files are properly handled
gradle/wrapper/gradle-wrapper.jar binary
gradlew text eol=lf
gradlew.bat text eol=crlf
